<p id="notice"><%= notice %></p>
<h1>Insightly</h1>
<p><%= @take_1_client[0].first_name %></p>

<h1>Listing Organisations</h1>


<div>
  <div id="multi_markers" style='width: auto; height: 600px;'></div>
</div>

<%= link_to 'New Organisation', new_organisation_path %>

<script type="text/javascript">
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
    var markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
